
.contact-container {
    padding: 0 2rem;
    background-color: var(--background-second);
    margin-top: 3rem;
}

.contact {
    margin-top: 3rem;
    font-size: 2rem;
    padding-bottom: 0.6rem;
    border-bottom: 3px solid var(--text-color);
    color: var(--color-primary);
    margin-bottom: 1rem;
}


.input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--color-primary);
    color: var(--text-color);
}

.textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--color-primary);
    color: var(--text-color);
}

.div-button-enviar {
    width: 100%;
    margin: 0 auto;
}